discord
subprocess
sys
time
os
colorama
base64
codecs 
datetime
io
random
numpy
datetime
smtplib
string
ctypes
youtube_dl
typing
pytz
urllib.parse
urllib.request
re
json
requests
webbrowser
dns
aiohttp
asyncio
functools
logging